#screen-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    gap: 2em;
    justify-content: center;
}

#modal-btn {
    background: red;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.2s;
    font-size: 2em;
}

#modal-btn:hover {
    transform: scale(1.2);
}

#modal-btn:active {
    opacity: 0.75;
}